<footer class="footer">
  <div class="container text-center">
    <hr>
    <a href="mailto: jacobjennings510@gmail.com" class="text-muted"
      ><fa-icon [icon]="emailIcon" class="me-2"></fa-icon
    ></a>
    <a
      href=""
      class="text-muted"
      onclick="Calendly.initPopupWidget({url: 'https://calendly.com/jacobjennings510'});return false;"
    >
      <fa-icon [icon]="phoneIcon" class="me-2"></fa-icon
    ></a>
    <a
      href="https://www.linkedin.com/in/jjennings510/"
      class="text-muted"
      target="_blank"
    >
      <fa-icon [icon]="linkedIn" class="me-2" size="lg"></fa-icon>
    </a>
    <a
      href="https://github.com/jjennings510"
      class="text-muted"
      target="_blank"
    >
      <fa-icon [icon]="github" class="me-2" size="lg"></fa-icon>
    </a>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.</p>
    </div>
  </div>
</footer>
