<section id="about">
    <div class="container">
        <h2><strong>About Me</strong></h2>
        <div class="d-flex justify-content-center">
            <a class="btn-social-media" href="https://www.linkedin.com/in/jacob-jennings-a2755b16a/"
            title="Follow me on LinkedIn">
                <fa-icon [icon]="linkedIn" size="lg" class="icon-hover"></fa-icon>
            </a>
            <a class="btn-social-media" href="https://github.com/jjennings510"
            title="Check out my Github">
                <fa-icon [icon]="github" size="lg" class="icon-hover"></fa-icon>
            </a>
        </div>
        <h4>Web Developer</h4>
        <p>
            Interested in learning new tehcnologies to advance my Web Development skills. 
            Passionate about both <strong>Front-End</strong> and <strong>Back-End</strong> development.
        </p>
        <p>
            I am currently looking for a full-stack web development position located in 
            the San Franscisco Bay Area or remote.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><fa-icon [icon]="location"></fa-icon>San Francisco Bay Area</li>
                    <li><fa-icon [icon]="house"></fa-icon>Hayward, CA</li>
                    <li><fa-icon [icon]="email"></fa-icon><a href="mailto: jacobjennings510@gmial.com">jacobjennings510@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><fa-icon [icon]="age"></fa-icon>26 Years Old</li>
                    <li><fa-icon [icon]="degree" ></fa-icon>B.S. Computer Engineering - San Jose State University</li>
                </ul>
            </div>
        </div>
    </div>
</section>