<nav
  [ngClass]="{
    transparent: isNavbarTransparent,
    'bg-primary shadow-lg': !isNavbarTransparent
  }"
  class="navbar navbar-expand-md navbar-dark fixed-top"
>
  <div class="container">
    <a href="#" class="navbar-brand">Jacob Jennings</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-target="#navigation"
      aria-controls="navigation"
      aria-expanded="false"
      aria-lavel="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navigation"
      [ngClass]="{ show: showMenu }"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            id="home"
            href="#"
            [ngClass]="{ active: activeSection === 'home' }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#about"
            [ngClass]="{ active: activeSection === 'about' }"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#skills"
            [ngClass]="{ active: activeSection === 'skills' }"
            >Skills</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#experience"
            [ngClass]="{ active: activeSection === 'experience' }"
            >Experience</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#education"
            [ngClass]="{ active: activeSection === 'education' }"
            >Education</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#project"
            [ngClass]="{ active: activeSection === 'project' }"
            >project</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#contact"
            [ngClass]="{ active: activeSection === 'contact' }"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
