<nav
  [ngClass]="{
    transparent: isNavbarTransparent,
    'bg-primary shadow-lg': !isNavbarTransparent
  }"
  class="navbar navbar-expand-md navbar-dark fixed-top"
>
  <div class="container">
    <a [routerLink]="[]" [fragment]="'home'" class="navbar-brand"
      >Jacob Jennings</a
    >
    <button
      class="navbar-toggler d-flex d-md-none flex-column justify-content-around"
      [ngClass]="{ show: showMenu }"
      type="button"
      aria-controls="navigation"
      aria-expanded="false"
      aria-lavel="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navigation"
      [ngbCollapse]="!showMenu"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [fragment]="'home'"
            [ngClass]="{ active: activeSection === 'home' }"
            (click)="showMenu = false"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [fragment]="'about'"
            [ngClass]="{ active: activeSection === 'about' }"
            (click)="showMenu = false"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [fragment]="'skills'"
            [ngClass]="{ active: activeSection === 'skills' }"
            (click)="showMenu = false"
            >Skills</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [fragment]="'experience'"
            [ngClass]="{ active: activeSection === 'experience' }"
            (click)="showMenu = false"
            >Experience</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [fragment]="'education'"
            [ngClass]="{ active: activeSection === 'education' }"
            (click)="showMenu = false"
            >Education</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [fragment]="'projects'"
            [ngClass]="{ active: activeSection === 'projects' }"
            (click)="showMenu = false"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [fragment]="'contact'"
            [ngClass]="{ active: activeSection === 'contact' }"
            (click)="showMenu = false"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
