<section id="experience">
  <div class="container">
    <h2 class="title"><strong>Experience</strong></h2>
    <p-timeline [value]="workExperience">
      <ng-template pTemplate="content" let-work>
        <div class="card mb-3 shadow-lg">
          <div class="card-body">
            <h5 class="card-title">
              {{ work.employer }}<span class="text-muted h6"> | {{ work.date }}</span>
            </h5>
            <h6>{{work.position}}</h6>
            <ul>
              <li *ngFor="let detail of work.details">{{ detail }}</li>
            </ul>
          </div>
        </div>
      </ng-template>
    </p-timeline>
  </div>
</section>
