<section id="experience">
  <div class="container">
    <h2><strong>Experience</strong></h2>
    <span class="bar-title"></span>
    <div class="row mt-2">
      <div class="col-lg-6 col-md-12">
        <h5>Work Experience</h5>
        <ul>
          <li *ngFor="let work of works">
            <app-work-experience [work]="work"></app-work-experience>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12">
        <h5>Education</h5>
        <ul>
          <li *ngFor="let education of educations">
            <app-education [education]="education"></app-education>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
