<div *ngIf="education">
  <div class="row">
    <div class="col-xl-8 col-md-6 col-xs-12">
      <h6 style="display: inline-block">{{ education.school }}</h6>
      <span> | {{ education.location }}</span>
      <p class="fst-italic">{{ education.degree }}</p>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12">
        <p class="text-md-end">Graduated: {{education.date}}</p>
    </div>
  </div>
  <div class="mb-2">
    <button class="btn btn-primary" (click)="openModal()">Relevant Coursework</button>
  </div>
</div>
