<section id="skills">
  <div class="container">
    <h2 class="title"><strong>Skills</strong></h2>
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col-lg-4">
            <h5 class="mb-4 text-center"><strong>Languages</strong></h5>
            <div class="row" *ngFor="let language of skills.languages">
              <span>{{ language.name }}</span>
              <div class="mb-2">
                <progressbar [value]="language.percent" [max]="100" class="bar">
                  <b class="text-end me-2">{{ language.percent }}%</b>
                </progressbar>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <h5 class="mb-4 text-center">
              <strong>Frameworks and Libraries</strong>
            </h5>
            <div>
              <div class="row" *ngFor="let framework of skills.frameworks">
                <span>{{ framework.name }}</span>
                <div class="mb-2">
                  <progressbar
                    [value]="framework.percent"
                    [max]="100"
                    class="bar"
                  >
                    <b class="text-end me-2">{{ framework.percent }}%</b>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <h5 class="mb-4 text-center"><strong>Tools</strong></h5>
            <div>
              <div class="row" *ngFor="let tool of skills.tools">
                <span>{{ tool.name }}</span>
                <div class="mb-2">
                  <progressbar [value]="tool.percent" [max]="100" class="bar">
                    <b class="text-end me-2">{{ tool.percent }}%</b>
                  </progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
