<div class="card mb-4 shadow" *ngIf="project">
  <img
    class="card-img-top"
    src="{{ project.images[0].src }}"
    alt="{{ project.name }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ project.name }}</h5>
    <p class="card-text">{{ project.shortDescription }}</p>
    <span><strong class="card-subtitle">Technologies</strong></span>
    <p>
      <small>{{ project.technologies }}</small>
    </p>
    <div class="text-center">
      <a
        href="{{ project.sourceCodeLink }}"
        class="btn btn-primary"
        target="_blank"
        >Source Code</a
      >
    </div>
  </div>
</div>
