<div class="card mb-4 shadow h-100" *ngIf="project">
  <div class="container">
    <img
      class="card-img-top shadow"
      src="{{ project.images[0].src }}"
      alt="{{ project.name }}"
    />
    <div class="overlay" (click)="openModal(content)">
      <fa-icon [icon]="zoomIcon"></fa-icon>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <strong>{{ project.name }}</strong>
    </h5>
    <p class="card-text h-25">
      <small>{{ project.shortDescription }}</small>
    </p>
    <h6><strong class="card-subtitle">Technologies</strong></h6>
    <p class="technologies">
      <small>{{ project.technologies }}</small>
    </p>
    <div class="text-center">
      <a
        href="{{ project.sourceCodeLink }}"
        class="btn btn-primary"
        target="_blank"
        >Source Code</a
      >
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <button class="btn-close modal-close" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of project.images">
        <div class="img-wrapper">
          <img [src]="image.src" alt="" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</ng-template>
