//see it's necesary import both scss/functions and scss/variables

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #192352;
$secondary: $yellow-300;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

//futhermore it's necesary override the $theme-colors

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// shadow
$box-shadow: 0 .5rem 1rem rgba(190, 46, 98, .15);
$box-shadow-sm: 0 .125rem .25rem rgba(190, 46, 98, .075);
// $box-shadow-lg: 0 1rem 3rem rgba(190, 46, 98, .175);
$box-shadow-inset: inset 1px 2px rgba(190, 46, 98, .075);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
