.title {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
}

.caption {
  text-transform: uppercase;
  font-weight: 700;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
