<div class="page-header" id="home">
  <div
    class="header-background"
    style="
      background-image: url('assets/images/Backgrounds/LaptopBackground.jpg');
    "
  >
    <div class="header-overlay"></div>
  </div>

  <div class="hero-container">
    <div class="profile-image">
      <a href="#">
        <img
          src="assets/images/profilepic.jpg"
          alt="How's it going?'"
        />
      </a>
    </div>
    <h1 class="title">Jacob Jennings</h1>
    <p class="caption">Software Engineer</p>
    <div class="mt-4">
      <a href="#contact" class="btn btn-primary m-2">Contact Me</a>
      <a
        href="https://docs.google.com/document/d/e/2PACX-1vSwRg8b4UwSBZSLafYOpitxhn_YOxEK4vu3BA3DovdCNTa707rdXs3fCR70Wt1KFueDJ5S0k8y70sif/pub"
        target="_blank"
        class="btn btn-primary m-2"
        >View Resume</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="button-container d-flex justify-content-center">
    <a
      href="https://www.linkedin.com/in/jjennings510/"
      class="btn btn-default btn-round btn-primary btn-lg btn-icon"
      type="button"
      target="_blank"
      ngbTooltip="Connect on LinkedIn"
      placement="top"
      [openDelay]="300"
    >
      <fa-icon [icon]="linkedIn" size="lg"></fa-icon>
    </a>
    <a
      href="https://github.com/jjennings510"
      class="btn btn-default btn-round btn-primary btn-lg btn-icon"
      target="_blank"
      ngbTooltip="Check out my GitHub"
      placement="top"
      [openDelay]="300"
    >
      <fa-icon [icon]="github" size="lg"></fa-icon>
    </a>
  </div>
</div>
