<div class="page-header">
  <div
    class="header-background"
    style="background-image: url('assets/images/Backgrounds/Background.jpg')"
  >
    <div class="header-overlay"></div>
  </div>
  <section>
    <div class="hero-container">
      <div class="profile-image">
        <a href="#">
          <img
            src="assets/images/ProfilePlaceholder.jpg"
            alt="How's it going?'"
          />
        </a>
      </div>
      <h1>Jacob Jennings</h1>
      <p>Software Developer</p>
    </div>
  </section>
</div>
