<div class="page-header">
  <div
    class="header-background"
    style="background-image: url('assets/images/Backgrounds/LaptopBackground.jpg')"
  >
    <div class="header-overlay"></div>
  </div>

  <div class="hero-container">
    <div class="profile-image">
      <a href="#">
        <img
          src="assets/images/ProfilePlaceholder.jpg"
          alt="How's it going?'"
        />
      </a>
    </div>
    <h1 class="title">Jacob Jennings</h1>
    <p class="caption">Software Engineer</p>
    <div class="mt-4">
      <a href="#contact" class="btn btn-primary m-2">Contact Me</a>
      <a href="#" class="btn btn-primary  m-2">View Resume</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="button-container d-flex justify-content-center">
    <a
      href="https://www.linkedin.com/in/jacob-jennings-a2755b16a/"
      class="btn btn-default btn-round btn-primary btn-lg btn-icon"
      type="button"
      target="_blank"
      ngbTooltip="Connect on LinkedIn"
      placement="top"
    >
      <fa-icon [icon]="linkedIn" size="lg"></fa-icon>
    </a>
    <a
      href="https://github.com/jjennings510"
      class="btn btn-default btn-round btn-primary btn-lg btn-icon"
      target="_blank"
      ngbTooltip="Check out my GitHub"
      placement="top"
    >
      <fa-icon [icon]="github" size="lg"></fa-icon>
    </a>
  </div>
</div>
